
    <div class="row mb-4">
        {{#each courses}}
        <div class="col-sm-3 col-lg-3">
            <div class="card mt-4">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <p class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">{{this.name}}</p>
                    <a href="#" style="text-decoration: none;  " >Giá : {{this.price}} VNĐ</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>